body, html, button {
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
}
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background: #fff;
}
.dialog {
  position: relative;
  padding: 50px 0px;
  background: #fff;
  top: 15%;
  text-align: center;
}
.dialog h1 {
  margin: 0 0 10px 0;
  font-weight: normal;
  font-size: 28px;
}
.dialog p {
  color: #222;
  font-size: 18px;
  margin: 0 0 20px 0;
}
.button {
  margin: 0;
  font-size: 20px;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  outline: none;
  display: inline-block;
  background-color: #fff;
  color: #646464;
  cursor: pointer;
  border: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none !important;
  background: rgba(0,174,255,1);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,174,255,1)), color-stop(92%, rgba(0,174,255,1)), color-stop(100%, rgba(0,144,234,1)));
  background: -webkit-linear-gradient(top, rgba(0,174,255,1) 0%, rgba(0,174,255,1) 92%, rgba(0,144,234,1) 100%);
  color: #fff;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1), background 0.1s linear;
  box-shadow: 0 10px 5px -10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
}
.button.short-break, .button.long-break {
  background: #2b2;
  color: #fff;
}
.button.focus {
  background: #e22;
  color: #fff;
}
.button.short-break:hover, .button.long-break:hover {
  background: #2c2;
}
.button.focus:hover {
  background: #f22;
}
.button:active {
  box-shadow: none;
  transition-delay: 0s;
}
.button:not(.focus):not(.short-break):not(.long-break) {
  display: none;
}
#start-session {
  margin-top: 10px;
}
.pomodoros {
  margin-top: 110px;
  line-height: 100%;
}
.pomodoro {
  font-family: Arial, sans-serif;
  font-size: smaller;
  margin-top: 7px;
  letter-spacing: 1px;
  color: #e22 !important;
  position: relative;
  top: -2px;
}
.footer {
  display: flex;
  align-items: center;
  width: 100vw;
  position: fixed;
  bottom: 0;
  opacity: 0.4;
  display: flex;
  transition: opacity 0.25s;
  margin: 10px 20px;
  padding: 100px 0 0 0;
}
.footer:hover {
  opacity: 1;
}
.footer img {
  max-height: 60px;
}
.footer .actions {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}
.footer .title {
  font-size: 15px;
  color: #c00;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 15px;
}
.footer .actions button {
  outline: 0 !important;
  font-size: 15px;
  cursor: pointer;
  background: transparent;
  color: #222;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px 0 0 0;
  margin: 0;
  border: 0;
}
.footer .actions button:hover {
  color: #b00;
  text-decoration: underline;
}
#settings {
  padding-right: 5px;
}
#history {
  padding-left: 5px;
}
