body, html, button {
  font-family: 'Source Sans Pro', sans-serif;
}
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background: #fff;
}
.dialog {
  position: relative;
  padding: 50px 0px;
  background: #fff;
  top: 15%;
  text-align: center;
}
.dialog h1 {
  margin: 0 0 10px 0;
  font-weight: normal;
  font-size: 28px;
}
.dialog p {
  color: #222;
  font-size: 18px;
  margin: 0 0 20px 0;
}
.button {
  margin: 0;
  font-size: 20px;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  outline: none;
  display: inline-block;
  background-color: #fff;
  color: #646464;
  cursor: pointer;
  border: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none !important;
  background: rgba(0,174,255,1);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,174,255,1)), color-stop(92%, rgba(0,174,255,1)), color-stop(100%, rgba(0,144,234,1)));
  background: -webkit-linear-gradient(top, rgba(0,174,255,1) 0%, rgba(0,174,255,1) 92%, rgba(0,144,234,1) 100%);
  color: #fff;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1), background 0.1s linear;
  box-shadow: 0 15px 8px -10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
}
.button.break, .button.short-break, .button.long-break {
  background: #2b2;
  color: #fff;
}
.button.focus {
  background: #e22;
  color: #fff;
}
.button.break:hover, .button.short-break:hover, .button.long-break:hover {
  background: #2c2;
}
.button.focus:hover {
  background: #f22;
}
.button:active {
  box-shadow: none;
  transition-delay: 0s;
}
.button:not(.focus):not(.break):not(.short-break):not(.long-break) {
  display: none;
}
#start-session {
  margin-top: 10px;
}
.pomodoros-today {
  margin-top: 110px;
  line-height: 100%;
}
#view-history {
  cursor: pointer;
  font-size: 15px;
  background: #fff;
  color: #555;
  border: 1px solid #555;
  border-radius: 3px;
  padding: 8px 25px;
  margin: 5px 0 0 0;
  outline: 0 !important;
}
#view-history:hover {
  color: #a00;
  border: 1px solid #a00;
  text-decoration: none;
}
#pomodoros {
  font-size: 35px;
  margin-top: 7px;
  color: #e22 !important;
  text-shadow: 0 2px 2px rgba(200, 0, 0, 0.3);
}
#pomodoros:empty ~ * {
  display: none;
}
