body, html, button {
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.field {
  margin-bottom: 10px;
}
.complete {
  margin: 5px 0 0 5px;
}
.complete p {
  padding: 0;
  margin: 3px 0 13px -5px;
}
.section {
  margin-bottom: 40px;
}
input[type="checkbox"] {
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin: 5px 0;
}
p {
  display: inline-block;
  margin: 0;
}
input.duration {
  width: 50px;
}
.header {
  background: #d00;
  padding: 15px 0 0 0;
  box-shadow: 0 3px 10px #999;
}
.header .tab-bar {
  margin-top: 15px;
}
.header a {
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}
.header a:hover {
  color: #fff;
  background: #a00;
  border-bottom: 4px solid #b33;
}
.header a.active {
  opacity: 1;
  color: #fff;
  border-bottom: 4px solid #fdd;
}
.header img {
  vertical-align: middle;
  margin-right: 15px;
}
.header h1 {
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  padding: 0;
  margin: 3px 0 0 0;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding: 50px 0 0 0;
}
.inner {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 600px;
  margin: 0 auto;
}
.section h2 {
  margin: 0 0 15px 0;
  font-weight: 500;
  color: #a00;
  border-bottom: 1px solid #ddcccc;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  display: inline;
}
.tab-page {
  display: none;
}
.tab-page.active {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.feedback {
  font-size: 15px;
}
.feedback .title {
  text-align: center;
  margin: 10px 0 60px 0;
}
.feedback .title p {
  margin-top: 10px;
}
.feedback h1 {
  color: #a00;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.feedback h2 {
  color: #a00;
  font-size: 16px;
  margin: 0 0 5px 0;
  padding: 0;
}
.feedback a {
  color: #555;
  text-decoration: underline;
}
.feedback a:hover {
  color: #a00;
}
.feedback .links {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  line-height: 140%;
}
.feedback .links p {
  flex: 40%;
  text-align: right;
  color: #333;
  font-weight: bold;
  font-size: smaller;
  text-transform: uppercase;
  position: relative;
  top: 1px;
}
.feedback .links a {
  color: #444;
  text-decoration: none;
}
.feedback .links a:hover {
  color: #a00;
  text-decoration: underline;
}
.feedback .links ul {
  flex: 55%;
  list-style-type: none;
  margin: 0 0 0 20px;
  padding: 0;
}
.feedback .links ul li {
  margin-bottom: 7px;
}
.stats {
  margin: 20px 40px 80px 40px;
  display: flex;
  justify-content: space-between;
}
.stats .stat {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.stats .stat .value {
  color: #a00;
  font-size: 30px;
  margin-bottom: 5px;
}
.stats .stat .bucket {
  color: #333;
  font-size: 17px;
}
.stats .stat .average {
  color: #555;
  font-size: 14px;
  margin-top: 5px;
}
#heatmap {
  margin-left: -10px;
}
#heatmap .day {
  fill: #eee;
  stroke: #fff;
  stroke-width: 2px;
  outline: 0 !important;
}
#heatmap .label {
  fill: #777;
}
#heatmap .color0 {
  fill: #c6e48b;
}
#heatmap .color1 {
  fill: #7bc96f;
}
#heatmap .color2 {
  fill: #239a3b;
}
#heatmap .color3 {
  fill: #196127;
}
.tippy-tooltip {
  opacity: 0.9 !important;
  padding: 10px 17px;
}
#settings-page {
  font-size: 13px;
}
#history-page {
  justify-content: space-between;
}
#history-page .actions {
  display: flex;
  justify-content: flex-end;
  margin: 25px 0 35px 0;
}
#history-page .actions button {
  outline: 0 !important;
  font-size: 15px;
  cursor: pointer;
  background: transparent;
  color: #555;
  padding: 10px 20px;
  border: 1px solid #555;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-left: 15px;
}
#history-page .actions button:hover {
  color: #a00;
  border: 1px solid #a00;
  text-decoration: none;
}
.distribution rect {
  fill: #2b2;
  outline: 0 !important;
}
.distribution .domain {
  stroke: #777;
}
#history-page section {
  margin-bottom: 60px;
}
#history-page .title {
  margin: 0 0 15px 0;
  border-bottom: 1px solid #aaa;
}
#history-page .title button {
  cursor: pointer;
  border: 0;
  background: transparent;
  text-transform: uppercase;
  outline: 0 !important;
  padding: 1px 6px;
  border-radius: 2px;
  font-size: 12px;
  position: relative;
  top: -1px;
}
#history-page .title button.active {
  border-radius: 3px;
  background: #777;
  color: #fff;
}
#history-page .title .options {
  float: right;
}
#history-page .title h2 {
  color: #444;
  font-size: 16px;
  display: inline;
  font-weight: normal;
}
