html, body {
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.field {
  margin-bottom: 10px;
}
.section {
  margin-bottom: 40px;
}
input[type="checkbox"] {
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin: 5px 0;
}
p {
  display: inline-block;
  margin: 0;
}
input.duration {
  width: 50px;
}
.header {
  background: #dd0000;
  padding: 10px 0 0 0;
  box-shadow: 0 3px 10px #999;
}
.header .tab-bar {
  margin-top: 10px;
}
.header a {
  display: inline-block;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}
.header a:hover {
  color: #fff;
  background: #b33;
  border-bottom: 4px solid #b33;
}
.header a.active {
  opacity: 1;
  color: #fff;
  border-bottom: 4px solid #fdd;
}
.header img {
  vertical-align: middle;
  margin-right: 15px;
}
.header h1 {
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  padding: 0;
  margin: 3px 0 0 0;
}
.inner {
  width: 600px;
  margin: 0 auto;
}
.content {
  padding: 50px 0 0 0;
}
.section h2 {
  margin: 0 0 15px 0;
  font-weight: 500;
  color: #aa0000;
  border-bottom: 1px solid #ddcccc;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  display: inline;
}
.tab-page {
  display: none;
}
.tab-page.active {
  display: block;
}
.feedback {
  font-size: 15px;
}
.feedback .title {
  text-align: center;
  margin: 0 0 60px 0;
}
.feedback .title p {
  margin-top: 10px;
}
.feedback .title a {
  color: #777;
}
.feedback h1 {
  color: #aa0000;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.feedback h2 {
  color: #aa0000;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.feedback a {
  color: #000;
}
.feedback .links {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.feedback .links a {
  color: #333;
  text-decoration: none;
}
.feedback .links a:hover {
  color: #aa0000;
  text-decoration: underline;
}
.feedback .links p {
  text-align: right;
}
.feedback .links p {
  flex: 45%;
  text-transform: uppercase;
  font-weight: bold;
  color: #999;
}
.feedback .links ul {
  flex: 55%;
  list-style-type: none;
  margin: 0 0 0 20px;
  padding: 0;
}
.feedback .links ul li {
  margin-bottom: 7px;
}
